
<p>
  <strong>Product name:</strong>
  <%= @post.product_name %>
</p>

<p>
	<% if @post.image.attached? %>
    		<%= cl_image_tag(@post.image.key, :width=>200, :crop=>"fit") %>
  	<% end %>
</p>
<div>
  <% if @post.video.attached? %>
  <%= video_tag(url_for(@post.video), style:'width:40%; height:auto', controls: '')%>
  <% end %>
</p>
</div>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@post.price) %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.username %>
</p>

<p>
  <strong>Location:</strong>
  <%= @post.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<%# STRIPE PAYMENT BEGINS HERE %>
<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <%# <label class="amount">
      <span>Price: $</span>
    </label> %>
  </article>
  <% if @post.user != current_user %>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="<%= @post.product_name %>"
          data-label="Buy!"
          data-amount="<%= @post.price_in_cents %>"
          data-currency="aud"
          data-locale="auto"></script>
  <% end %>
<% end %>
<%# STRIPE PAYMENT ENDS HERE %>

<p>
  <strong>Sold:</strong>
  <%= @post.sold %>
</p>

<p>
  <strong>Flagged:</strong>
  <%= @post.flagged %>
</p>
<% if @post.can_change?(current_user) %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>

<%= link_to 'Back', posts_path %>


<%=render 'comments/form', post: @post %>

<script>
      $(function() {
          // Initializes and creates emoji set from sprite sheet
          window.emojiPicker = new EmojiPicker({
              emojiable_selector: '[data-emojiable=true]',
              assetsPath: 'http://onesignal.github.io/emoji-picker/lib/img/',
              popupButtonClasses: 'fa fa-smile-o'
          });

          window.emojiPicker.discover();
      });
</script>
<% for comment in @comments do %>
  <div class="media-body">
    <h4 class="media-heading"><%= comment.user.username %>  commented:</h4>
    <%= time_ago_in_words(comment.created_at)+" ago" %><br>
    <div style="width:400px;overflow-wrap:break-word;">
    <%= comment.content %>
    <% if comment.user == current_user || current_user.has_role?(:admin) %>
      <%= link_to 'Edit', edit_comment_path(comment) %> 
      <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    </div>
  </div>
  
<% end %>
</div>

